* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  background: linear-gradient(to right, #334c42, #344C3D); 
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


header .logo {
  font-size: 1.8rem;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav ul li {
  margin-right: 2rem;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}


header nav ul li a:hover {
  text-decoration: underline; 
  text-decoration-color: blue; 
  color: blue; 
}

#explore {
  text-align: center;
  background-color: #f2f2f2;
  padding: 3rem 1rem;
}

.quote {
  font-family: 'Bebas Neue', sans-serif;
  /* font-weight: bold; */
  font-size: 2.5rem;
  margin-bottom: 2rem;
  /* font-family: "Lucida Handwriting", cursive; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
/* font-style: italic; */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}


.explore-btn {
  padding: 1rem 3rem;
  background-color: #34f1a6;
  color: white;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.explore-btn:hover {
  background-color: #8EA58C;
}

.slideshow {
  display: flex;
  overflow: hidden;
  margin-top: 2rem;
  position: relative;
}

.slideshow img {
  width: 100%;
  flex-shrink: 0; 
  animation: slideshow 16s infinite;
}

@keyframes slideshow {
  0% { transform: translateX(0); }
  25% { transform: translateX(-100%); }
  50% { transform: translateX(-200%); }
  75% { transform: translateX(-300%); }
  100% { transform: translateX(0); }
}



#about {
  padding: 50px 20px;
  background: linear-gradient(to bottom right, #BFCFBA, #BFCFBB);
  position: relative;
  color: white; 
}

#about h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: center;
  color: #344C3D;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

#about ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 20px;
}

#about ul li {
  margin-bottom: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.2em;
  text-align: left;
  position: relative; 
  z-index: 1; 
}

#about::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); 
  z-index: 0; 
}

#about ul li {
  color: white;
  font-size: 1.3em; 
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
}

#about ul li:hover {
  color: #000000; 
  transform: scale(1.05) translateX(25px); 
  transition: 0.3s ease-in-out;
}




#privacy {
  padding: 50px 20px;
  background-color: #BFCFBB; 
  color: #333;
  text-align: center;
}

#privacy h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #344C3D; 
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#privacy p {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #908d8d;
  font-family: Georgia, 'Times New Roman', Times, serif;
  transition: color 0.3s ease;
}

#privacy p:hover {
  color: #000000; 
}

#privacy a {
  color: #18c77e; 
  text-decoration: none;
}

#privacy a:hover {
  text-decoration: underline;
}


@media (max-width: 768px) {
  #privacy h2 {
    font-size: 2em;
  }

  #privacy p {
    font-size: 1em;
  }
}

#feedback {
  padding: 50px 20px;
  background-color: #E4E7D8; 
  color: #333;
  text-align: center;
}

#feedback h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #4B6043; 
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#feedback p {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #908d8d;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#feedback .button-container {
  margin-top: 20px;
}

#feedback .auth-btn {
  padding: 10px 20px;
  background-color: #4B6043;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#feedback .auth-btn:hover {
  background-color: #15a965;
}


#gallery {
  padding: 50px 20px;
  background-color: #f9f9f9;
}

#gallery h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
  text-align: center; 
}

.gallery-item {
  text-align: center;
  margin-bottom: 20px;
}

.gallery-item img {
  max-width: 80%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.gallery-item img:hover {
  transform: scale(1.1); 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}



.gallery-btn {
  display: inline-block;
  background-color: #333;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s;
}

.gallery-btn:hover {
  background-color: #555;
  transform: scale(1.05);
}
#resources {
  padding: 50px 20px;
  background-color: #F0F4F3;
  text-align: center;
}

#resources h2 {
  font-size: 2.5em;
  margin-bottom: 10px;
  color: #344C3D;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#resources p {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #555;
}

#resources ul {
  list-style: none;
  padding: 0;
}

#resources li {
  margin-bottom: 10px;
  font-size: 1.2em;
  color: #333;
}

#resources a {
  color: #18C77E;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

#resources a:hover {
  color: #15A965;
  text-decoration: underline;
}


#contact {
  padding: 50px 20px;
  background-color: #fff;
}

#contact h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}

#contact form {
  max-width: 600px;
  margin: 0 auto;
}

#contact form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

#contact form input, #contact form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

#contact form button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#contact form button:hover {
  background-color: #555;
}

#tasks {
  display: flex;
  flex-direction: column;
  padding: 3rem 1rem;
  background-color: #8EA58C; 
  border-radius: 10px; 
}

.tasktext{
  align-items: center;
  text-align: center;
}

.task {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  align-items: center; 
  gap: 1rem; 
}

.task-text {
  width: 70%; 
  font-size: 1.5em;
  line-height: 1.6;
  color: #333;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  margin-left: 5rem;
  margin-right: 5rem;
}
.task-text:hover {
  color: #ffffff; 
  transform: scale(1.0);
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3); 
  transition: 0.3s ease-in-out; 
}

.task-image img {
  width: 70%; 
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.task-image img:hover {
  transform: scale(1.1); 
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4); 
}


.task:nth-child(1) .task-image img {
  margin-left: 110px;

}
.task:nth-child(2) .task-image img {
  margin-left: 100px; 
  
}


.task.reverse .task-text {
  order: 2;
}

@media screen and (max-width: 768px) {
  .task {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem; 
  }

  .task-text,
  .task-image {
    width: 90%;
  }

  .task-image img {
    width: 90%; 
    margin-left: 0; 
  }
}

.upload-btn {
  background-color: #0e2f25;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 15px;
}

.upload-btn:hover {
  background-color: #738A6E;
}


.gallery-btn {
  margin-top: 1rem;
  padding: 0.8rem 2rem;
  background-color: #0e2f25;
  color: #fff;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 5px;
  
  transition: background-color 0.3s;
}


#gallery {
  padding: 3rem 1rem;
  text-align: center;
  background-color: #f9f9f9;
  background-image: url('gallery-background.jpg'); 
  background-size: cover;
  background-position: center;
}

#gallery h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.gallery-container {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  flex-wrap: wrap;
}

.gallery-item {
  width: 22%;
  text-align: center;
}

.gallery-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



.gallery-btn:hover {
  background-color: #738A6E;
}

@media screen and (max-width: 768px) {
  .gallery-item {
    width: 45%;
  }
}

@media screen and (max-width: 480px) {
  .gallery-item {
    width: 100%;
  }
}


#auth-buttons {
  text-align: center;
  margin-top: 20px;
  padding: 30px 20px;
  background-color: #E9F3ED; 
  border-radius: 10px; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.auth-btn {
  padding: 10px 20px;
  font-size: 1.2em;
  background-color: #4aa883; 
  color: white;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  transition: background-color 0.3s;
}

.auth-btn:hover {
  background-color: #14542a; 
}


#contact {
  padding: 50px 20px;
  background-color: #a3b7a2f1; 
  text-align: center;
}

#contact h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #000000; 
}

#contact p {
  font-size: 1.2em;
  margin-bottom: 30px;
  color: #555; 
}

.contact-info {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.contact-item {
  background-color: #fff; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
}

.contact-item h3 {
  font-size: 1.5em;
  color: #144c35;
  margin-bottom: 10px;
}

.contact-item p {
  font-size: 1.2em;
  color: #555;
}

.contact-item a {
  color: #144c35;
  text-decoration: none;
}

.contact-item a:hover {
  text-decoration: underline;
}


footer {
  background-color: #0e2f25;
  padding: 1rem;
  text-align: center;
  color: white;
}

footer p {
  font-size: 1rem;
}
